---
import Layout from '../layouts/Layout.astro';
import BackGround from '../components/BackGround.astro'
import AboutSection from '../components/common/AboutSection.astro';

---
<body>
  <BackGround />
  <Layout title="Sobre Mi" description='Una breve descripcion de mi'>
      <AboutSection />
  </Layout>
</body>