<body>
    <div class="container mx-auto max-w-5xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Primera sección -->
        <div class="section bg-white bg-opacity-70 p-4 rounded-lg shadow-md">
            <img src="assets/image/amitie.jpeg" alt="Imagen 1" class="w-full h-48 object-cover rounded-md mb-4">
            <h3 class="text-lg font-semibold mb-2">Mi Espacio Terapéutico</h3>
            <p class="text-gray-900">En Amitié, valoramos la relación terapéutica y nos comprometemos a trabajar contigo en un proceso de autoexploración y crecimiento personal. Nuestro enfoque Gestalt se centra en la conciencia del momento presente, la integración de las partes de tu ser y la promoción del autocuidado y la autenticidad.</p>
        </div>

        <!-- Segunda sección -->
        <div class="section bg-white bg-opacity-70 p-4 rounded-lg shadow-md">
            <img src="assets/image/symbol.jpg" alt="Imagen 2" class="w-full object-cover rounded-md mb-4">
            <h3 class="text-lg font-semibold mb-2">Mi Formación</h3>
            <p class="text-gray-900">Soy una psicóloga titulada, con formación académica y experiencia profesional en la ciudad de Córdoba Capital. Mi enfoque terapéutico se basa en la psicología Gestalt, una corriente que enfatiza la conciencia del momento presente y la integración holística de la experiencia humana.</p>
        </div>

        <!-- Tercera sección -->
        <div class="section bg-white bg-opacity-70 p-4 rounded-lg shadow-md">
            <img src="assets/image/home-office-.jpeg" alt="Imagen 3" class="w-full h-48 object-cover rounded-md mb-4">
            <h3 class="text-lg font-semibold mb-2">Turnos</h3>
            <p class="text-gray-900">Ofrezco sesiones de terapia psicológica en modalidad online, adaptadas a las necesidades y preferencias de mis pacientes. Esta modalidad de trabajo brinda la flexibilidad de acceder a la terapia desde la comodidad de tu hogar o cualquier otro lugar con conexión a internet.</p>
        </div>
    </div>
</body>

<style>
    .section {
        transition: transform 0.3s ease;
    }

    .section:hover {
        transform: translateY(-10px);
    }
</style>