---
import HeaderButton from '../components/HeaderButton.astro';
import HomeIcon from './icons/HomeIcon.astro';
import AboutIcon from './icons/AboutIcon.astro';
import ContactIcon from './icons/ContactIcon.astro';
import ServicesIcon from './icons/ServicesIcon.astro';

---
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-20 opacity-80">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-wrap items-center justify-center">
                <!-- Logo -->
            <div class="flex-shrink-0">
            </div>
            <!-- Botones del Navbar -->
            <HeaderButton class="bg-blue-600 text-white hover:bg-blue-700 hover:text-white px-4 py-2 rounded-lg" 
                href="/">
                    <HomeIcon/>
                        Home
            </HeaderButton>
            <HeaderButton class="bg-blue-600 text-white hover:bg-blue-700 hover:text-white px-4 py-2 rounded-lg" 
                href="/about">
                    <AboutIcon/>
                        Sobre Mí
            </HeaderButton>
            <HeaderButton class="bg-blue-600 text-white hover:bg-blue-700 hover:text-white px-4 py-2 rounded-lg" 
                href="/contact">
                    <ContactIcon/>
                        Contacto
            </HeaderButton>
            <HeaderButton class="bg-blue-600 text-white hover:bg-blue-700 hover:text-white px-4 py-2 rounded-lg" 
                href="/services">
                    <ServicesIcon/>
                        Servicios
            </HeaderButton>
        </div>
    </nav>
</header>
