<section class="bg-gradient-to-br from-blue-200 to-blue-400 bg-opacity-60 py-8">
    <div class="container mx-auto px-4">
            <h2 class="text-3xl font-bold text-gray-800 mb-6">
                Sobre Mí
            </h2>
        <div class="text-gray-700 leading-relaxed">
            <p class="mb-4">¡Hola! Soy Vero y soy psicóloga profesional dedicada a ayudar a las personas a superar los desafíos emocionales y mentales en sus vidas. Con 4 años de experiencia en la industria, me enorgullezco de proporcionar un entorno seguro y comprensivo para mis pacientes mientras trabajamos juntos para alcanzar sus objetivos.</p>
            <p class="mb-4">Mi enfoque terapéutico se basa en lo contextual, y estoy comprometida a brindar un tratamiento personalizado que se adapte a las necesidades únicas de cada individuo. Estoy aquí para ayudarte en tu viaje hacia el bienestar emocional y el crecimiento personal.</p>
            <p>No dudes en ponerte en contacto conmigo si tienes alguna pregunta o si deseas programar una cita. ¡Espero poder trabajar contigo!</p>
        </div>
    </div>
</section>