---
import WhatsappButton from "../WhatsappButton.astro"
import ContactIcon from "../icons/ContactIcon.astro"
import InstagramButton from "../InstagramButton.astro"
import InstagramIcon from "../icons/InstagramIcon.astro"
---

<body>
  <section class="py-12">
    <div class="container mx-auto">
      <h2 class="text-4xl font-bold text-gray-800 mb-20">Contáctame</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Botón de enviar WhatsApp -->
        <div>
          <!-- Información de contacto y mapa -->  
          <div class="rounded px-8 pt-6 pb-8 bg-gradient-to-r from-purple-100 to-purple-300">
            <p class="text-gray-700 text-base mb-4"><strong>Teléfono:</strong> +54 9 3513414276</p>
            <p class="text-gray-700 text-base mb-4"><strong>Correo electrónico:</strong> verovillalva008@gmail.com</p>
            <p class="text-gray-700 text-base mb-4"><strong>Horario de atención:</strong> Lunes a Viernes de 8am a 18pm</p>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex space-x-4">
                <WhatsappButton
                    href="https://api.whatsapp.com/send?phone=5493513414276&text=Hola%20Verónica,%20quiero%20hacer%20una%20consulta">
                    <ContactIcon/>
                    Enviar Whatsapp
                </WhatsappButton>
        
                <InstagramButton
                    href="https://www.instagram.com/lic.verovillalva/">
                    <InstagramIcon/>
                    Instagram
                </InstagramButton>
            </div>
        </div>
        

        </div>
        
        <div class="md:col-start-2">
          <!-- Mapa de ubicación de Google -->
          <div class="bg-white shadow-md rounded mt-6">
            <iframe src="" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
