<section class="py-12">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">
      Mis Servicios
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Servicio 1: Terapia Online -->
      <div class="bg-white rounded-lg shadow-md p-6 service">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          Consulta Online
        </h3>
        <p class="text-gray-600">
          El servicio de consulta online. Se ofrece de manera remota a través de Zoom o Google Meet.
        </p>
        <img src="assets/image/terapiaonline3.jpeg" alt="Terapia Online" class="w-full mt-4">
      </div>
      <!-- Servicio 2 -->
      <div class="bg-white rounded-lg shadow-md p-6 service">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          Consulta Video llamada
        </h3>
        <p class="text-gray-600">
          El servicio de consulta por video llamada. Se ofrece de manera remota a través de Video Llamada por Whatsapp.
        </p>
        <img src="assets/image/videollamada2.avif" alt="Terapia Online" class="w-full mt-4">
      </div>
      <!-- Servicio 3 -->
      <div class="bg-white rounded-lg shadow-md p-6 service">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">
          Consulta Whatsapp
        </h3>
        <p class="text-gray-600">
          El servicio de consulta Whatsapp. Se ofrece de manera remota a través de mensajes, audios, o llamadas de Whatsapp.
        </p>
        <img src="assets/image/whatsappterapia.jpg" alt="Terapia Online" class="w-full mt-4">

      </div>
    </div>
  </div>
</section>

<style>
  .service:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
</style>