<div class="avatar">
    <div class="w-80 mask mask-hexagon">
      <img class="w-80 mask mask-hexagon" src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </div>
  </div>